*.iml
.gradle/
.gradle-bootstrap/
.gradle-user-home/
.android-user-home/
.idea/
.kotlin/
.externalNativeBuild/
.cxx/
build/
**/build/
captures/
local.properties
*.jks
*.keystore
*.apk
*.apks
*.apkm
*.xapk
node_modules/
